.tooltip {
  position: fixed;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 10;
  pointer-events: none;
  transform: translate(0, 100%);
}
